@import "reset";

$info-height: 40px;

$board-width: 500px;
$board-min-width: 280px;

$box-padding: 20px;
$box-min-padding: 10px;

$pieces-width: $board-width - $box-padding * 2;
$pieces-min-width: $board-min-width - $box-min-padding * 2;

$cell-width: 100px;
$cell-min-width: 57.5px;

$piece-width: 106px;
$piece-min-width: 57.5px;

$cell-radius: 5px;
$cell-min-radius: 3px;


*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  margin-top: 80px;
  background-color: #faf8ef;
}

#game{
  margin: 0 auto;
  width: 500px;
  .head{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    .logo{
      font-size: 8rem;
      font-weight: bold;
      color: #776e65;
      line-height: 110px;
    }
    .score{
      .current,
      .best{
        display: inline-block;
        position: relative;
        background-color: #bbada0;
        padding: 30px 25px 5px 25px;
        text-align: center;
        border-radius: 4px;
      }
      .current::before,
      .best::before{
        display: block;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: #eee4da;
      }
      .current::before{
        content: 'SCORE';
      }
      .best::before{
        content: 'BEST';
      }
      .current{
        margin-right: 5px;
      }
      .number{
        font-size: 2.5rem;
        color: #fff;
      }
    }
  }
  .info{
    display: flex;
    justify-content: space-between;
    height: $info-height;
    font-size: 1.8rem;
    .intro{
      line-height: $info-height;
      color: #776e65;
    }
    .restart{
      padding: 0 15px;
      background-color: #8f7a66;
      border-radius: 3px;
      line-height: $info-height;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      text-align: center;
    }
  }
  .board{
    position: relative;
    margin-top: 40px;
    padding: $box-padding;
    width: $board-width;
    height: $board-width;
    background-color: #bbada0;
    border-radius: 5px;
    .grid{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row{
        display: flex;
        justify-content: space-between;
        .cell{
          width: $cell-width;
          height: $cell-width;
          background-color: rgba(238, 228, 218, 0.35);
          border-radius: $cell-radius;
        }
      }
    }
    .pieces{
      position: absolute;
      left: $box-padding;
      top: $box-padding;
      width: $pieces-width;
      height: $pieces-width;
      .piece{
        position: absolute;
        width: $piece-width;
        height: $piece-width;
        border-radius: $cell-radius;
        font-weight: bold;
        text-align: center;
        line-height: $piece-width;
        transition: all .1s;
      }
      .piece-row-1{
        top: -3px;
      }
      .piece-row-2{
        top: $cell-width + $box-padding - 3px;
      }
      .piece-row-3{
        top: ($cell-width + $box-padding) * 2 - 3px;
      }
      .piece-row-4{
        top: ($cell-width + $box-padding) * 3 - 3px;
      }
      .piece-column-1{
        left: -3px;
      }
      .piece-column-2{
        left: $cell-width + $box-padding - 3px;
      }
      .piece-column-3{
        left: ($cell-width + $box-padding) * 2 - 3px;
      }
      .piece-column-4{
        left: ($cell-width + $box-padding) * 3 - 3px;
      }
      .piece-num-2,
      .piece-num-4,
      .piece-num-8,
      .piece-num-16,
      .piece-num-32,
      .piece-num-64{
        font-size: 5.5rem;
      }
      .piece-num-128,
      .piece-num-256,
      .piece-num-512{
        font-size: 4.5rem;
      }
      .piece-num-1024,
      .piece-num-2048{
        font-size: 3.5rem;
      }
      .piece-num-2,
      .piece-num-4{
        color: #776e65;
      }
      .piece-num-8,
      .piece-num-16,
      .piece-num-32,
      .piece-num-64,
      .piece-num-128,
      .piece-num-256,
      .piece-num-512,
      .piece-num-1024,
      .piece-num-2048{
        color: #f9f6f2;
      }

      .piece-num-2{
        background-color: #eee4da;
      }
      .piece-num-4{
        background-color: #ede0c8;
      }
      .piece-num-8{
        background-color: #f2b179;
      }
      .piece-num-16{
        background-color: #f59563;
      }
      .piece-num-32{
        background-color: #f67c5f;
      }
      .piece-num-64{
        background-color: #f65e3b;
      }
      .piece-num-128{
        background-color: #edcf72;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
      }
      .piece-num-256{
        background-color: #edcc61;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
      }
      .piece-num-512{
        background-color: #edc850;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
      }
      .piece-num-1024{
        background-color: #edc53f;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
      }
      .piece-num-2048{
        background-color: #edc22e;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
      }
    }
  }
  .describe{
    margin-top: 50px;
    font-size: 1.8rem;
    color: #776e65;
    line-height: 30px;
  }
}

@media screen and (max-width: 520px){
  body{
    margin-top: 20px;
  }
  #game{
    width: $board-min-width;
    .head{
      height: 65px;
      .logo{
        font-size: 2.8rem;
        line-height: 65px;
      }
      .score{
        .current,
        .best{
          min-width: 55px;
          padding: 25px 10px 2px 10px;
        }
        .number{
          font-size: 2.2rem;
        }
      }
    }
    .info{
      .intro{
        font-size: 1.3rem;
        line-height: 2rem;
      }
      .restart{
        font-size: 1.4rem;
        width: 140px;
      }
    }
    .board{
      margin-top: 20px;
      width: $board-min-width;
      height: $board-min-width;
      padding: $box-min-padding;
      .grid{
        .row{
          .cell{
            width: $cell-min-width;
            height: $cell-min-width;
            border-radius: $cell-min-radius;
          }
        }
      }
      .pieces{
        left: $box-min-padding;
        top: $box-min-padding;
        width: $pieces-min-width;
        height: $pieces-min-width;
        .piece{
          width: $piece-min-width;
          height: $piece-min-width;
          line-height: $piece-min-width;
          border-radius: $cell-min-radius;
        }
        .piece-row-1{
          top: 0px;
        }
        .piece-row-2{
          top: $cell-min-width + $box-min-padding;
        }
        .piece-row-3{
          top: ($cell-min-width + $box-min-padding) * 2;
        }
        .piece-row-4{
          top: ($cell-min-width + $box-min-padding) * 3;
        }
        .piece-column-1{
          left: 0;
        }
        .piece-column-2{
          left: $cell-min-width + $box-min-padding;
        }
        .piece-column-3{
          left: ($cell-min-width + $box-min-padding) * 2;
        }
        .piece-column-4{
          left: ($cell-min-width + $box-min-padding) * 3;
        }
        .piece-num-2,
        .piece-num-4,
        .piece-num-8{
          font-size: 3.5rem;
        }
        .piece-num-16,
        .piece-num-32,
        .piece-num-64{
          font-size: 3rem;
        }
        .piece-num-128,
        .piece-num-256,
        .piece-num-512{
          font-size: 2.5rem;
        }
        .piece-num-1024,
        .piece-num-2048{
          font-size: 1.5rem;
        }
      }
    }
    .describe{
      margin-top: 40px;
      font-size: 1.4rem;
      line-height: 25px;
    }
  }
}