@import "reset";

$info-height: 40px;
$box-padding: 20px;
$board-width: 500px;
$pieces-width: $board-width - $box-padding * 2;

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  margin-top: 80px;
  background-color: #faf8ef;
}

.container{
  margin: 0 auto;
  width: 500px;
  .head{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    .logo{
      font-size: 8rem;
      font-weight: bold;
      color: #776e65;
      line-height: 110px;
    }
    .score{
      .current,
      .best{
        display: inline-block;
        position: relative;
        background-color: #bbada0;
        padding: 30px 25px 5px 25px;
        text-align: center;
        border-radius: 4px;
      }
      .current::before,
      .best::before{
        display: block;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: #eee4da;
      }
      .current::before{
        content: 'SCORE';
      }
      .best::before{
        content: 'BEST';
      }
      .current{
        margin-right: 5px;
      }
      .number{
        font-size: 2.5rem;
        color: #fff;
      }
    }
  }
  .info{
    display: flex;
    justify-content: space-between;
    height: $info-height;
    font-size: 1.8rem;
    .intro{
      line-height: $info-height;
      color: #776e65;
    }
    .restart{
      padding: 0 15px;
      background-color: #8f7a66;
      border-radius: 3px;
      line-height: $info-height;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }
  }
  .board{
    position: relative;
    margin-top: 40px;
    padding: $box-padding;
    width: $board-width;
    height: $board-width;
    background-color: #bbada0;
    border-radius: 5px;
    .grid{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row{
        display: flex;
        justify-content: space-between;
        .cell{
          width: 100px;
          height: 100px;
          background-color: rgba(238, 228, 218, 0.35);
          border-radius: 5px;
        }
      }
    }
    .pieces{
      position: absolute;
      left: $box-padding;
      top: $box-padding;
      width: $pieces-width;
      height: $pieces-width;
      .piece{

      }
    }
  }
  .describe{
    margin-top: 50px;
    font-size: 1.8rem;
    color: #776e65;
    line-height: 30px;
  }
}

@media screen and (max-width: 520px){
  .container{
    width: 280px;
  }
}