@import "reset";

$info-height: 40px;

$board-width: 500px;
$board-min-width: 280px;

$box-padding: 20px;
$box-min-padding: 10px;

$cardsBoard-width: $board-width - $box-padding * 2;
$cardsBoard-min-width: $board-min-width - $box-min-padding * 2;

$cell-width: 100px;
$cell-min-width: 57.5px;

$card-width: 106px;
$card-min-width: 57.5px;

$cell-radius: 5px;
$cell-min-radius: 3px;


*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  padding-top: 80px;
  background-color: #faf8ef;
}

#game{
  margin: 0 auto;
  width: 500px;
  .head{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    .logo{
      font-size: 8rem;
      font-weight: bold;
      color: #776e65;
      line-height: 110px;
    }
    .score{
      .current,
      .best{
        display: inline-block;
        position: relative;
        background-color: #bbada0;
        padding: 30px 25px 5px 25px;
        text-align: center;
        border-radius: 4px;
      }
      .current::before,
      .best::before{
        display: block;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: #eee4da;
      }
      .current::before{
        content: 'SCORE';
      }
      .best::before{
        content: 'BEST';
      }
      .current{
        margin-right: 5px;
      }
      .number{
        font-size: 2.5rem;
        color: #fff;
      }
    }
  }
  .info{
    display: flex;
    justify-content: space-between;
    height: $info-height;
    font-size: 1.8rem;
    .intro{
      line-height: $info-height;
      color: #776e65;
    }
    .restart{
      padding: 0 15px;
      background-color: #8f7a66;
      border-radius: 3px;
      line-height: $info-height;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      text-align: center;
    }
  }
  .board{
    position: relative;
    margin-top: 40px;
    padding: $box-padding;
    width: $board-width;
    height: $board-width;
    background-color: #bbada0;
    border-radius: 5px;
    overflow: hidden;
    .msg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(200 , 200, 200, .6);
      // filter: blur(10px);
      z-index: 20;
      text-align: center;
      transform: translateY(100%);
      transition: all .5s;
      h2{
        margin-top: 35%;
        font-size: 60px;
        color: #8f7a66;
      }
      .restart{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        background-color: #8f7a66;
        border-radius: 3px;
        padding: 0 30px;
        line-height: 40px;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
      }
    }
    .msg_show{
      transform: translateY(0);
    }
    .grid{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row{
        display: flex;
        justify-content: space-between;
        .cell{
          width: $cell-width;
          height: $cell-width;
          background-color: rgba(238, 228, 218, 0.35);
          border-radius: $cell-radius;
        }
      }
    }
    .cardsBoard{
      position: absolute;
      left: $box-padding;
      top: $box-padding;
      width: $cardsBoard-width;
      height: $cardsBoard-width;
      .card{
        position: absolute;
        width: $card-width;
        height: $card-width;
        border-radius: $cell-radius;
        font-weight: bold;
        text-align: center;
        line-height: $card-width;
        transition: all .1s;
        z-index: 10;
      }
      .card-row-1{
        top: -3px;
      }
      .card-row-2{
        top: $cell-width + $box-padding - 3px;
      }
      .card-row-3{
        top: ($cell-width + $box-padding) * 2 - 3px;
      }
      .card-row-4{
        top: ($cell-width + $box-padding) * 3 - 3px;
      }
      .card-col-1{
        left: -3px;
      }
      .card-col-2{
        left: $cell-width + $box-padding - 3px;
      }
      .card-col-3{
        left: ($cell-width + $box-padding) * 2 - 3px;
      }
      .card-col-4{
        left: ($cell-width + $box-padding) * 3 - 3px;
      }
      .card-num-2,
      .card-num-4,
      .card-num-8,
      .card-num-16,
      .card-num-32,
      .card-num-64{
        font-size: 5.5rem;
      }
      .card-num-128,
      .card-num-256,
      .card-num-512{
        font-size: 4.5rem;
      }
      .card-num-1024,
      .card-num-2048{
        font-size: 3.5rem;
      }
      .card-num-2,
      .card-num-4{
        color: #776e65;
      }
      .card-num-8,
      .card-num-16,
      .card-num-32,
      .card-num-64,
      .card-num-128,
      .card-num-256,
      .card-num-512,
      .card-num-1024,
      .card-num-2048{
        color: #f9f6f2;
      }

      .card-num-2{
        background-color: #eee4da;
      }
      .card-num-4{
        background-color: #ede0c8;
      }
      .card-num-8{
        background-color: #f2b179;
      }
      .card-num-16{
        background-color: #f59563;
      }
      .card-num-32{
        background-color: #f67c5f;
      }
      .card-num-64{
        background-color: #f65e3b;
      }
      .card-num-128{
        background-color: #edcf72;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
      }
      .card-num-256{
        background-color: #edcc61;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
      }
      .card-num-512{
        background-color: #edc850;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
      }
      .card-num-1024{
        background-color: #edc53f;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
      }
      .card-num-2048{
        background-color: #edc22e;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
      }
      .card-merged{
        z-index: 0;
      }
      .card-new{
        animation: newCard .2s;
      }
    }
  }
  .describe{
    margin-top: 50px;
    font-size: 1.8rem;
    color: #776e65;
    line-height: 30px;
  }
}

@media screen and (max-width: 520px){
  body{
    padding-top: 20px;
  }
  #game{
    width: $board-min-width;
    .head{
      height: 65px;
      .logo{
        font-size: 2.8rem;
        line-height: 65px;
      }
      .score{
        .current,
        .best{
          min-width: 55px;
          padding: 25px 10px 2px 10px;
        }
        .number{
          font-size: 2.2rem;
        }
      }
    }
    .info{
      .intro{
        font-size: 1.3rem;
        line-height: 2rem;
      }
      .restart{
        font-size: 1.4rem;
        width: 140px;
      }
    }
    .board{
      margin-top: 20px;
      width: $board-min-width;
      height: $board-min-width;
      padding: $box-min-padding;
      .grid{
        .row{
          .cell{
            width: $cell-min-width;
            height: $cell-min-width;
            border-radius: $cell-min-radius;
          }
        }
      }
      .cardsBoard{
        left: $box-min-padding;
        top: $box-min-padding;
        width: $cardsBoard-min-width;
        height: $cardsBoard-min-width;
        .card{
          width: $card-min-width;
          height: $card-min-width;
          line-height: $card-min-width;
          border-radius: $cell-min-radius;
        }
        .card-row-1{
          top: 0px;
        }
        .card-row-2{
          top: $cell-min-width + $box-min-padding;
        }
        .card-row-3{
          top: ($cell-min-width + $box-min-padding) * 2;
        }
        .card-row-4{
          top: ($cell-min-width + $box-min-padding) * 3;
        }
        .card-col-1{
          left: 0;
        }
        .card-col-2{
          left: $cell-min-width + $box-min-padding;
        }
        .card-col-3{
          left: ($cell-min-width + $box-min-padding) * 2;
        }
        .card-col-4{
          left: ($cell-min-width + $box-min-padding) * 3;
        }
        .card-num-2,
        .card-num-4,
        .card-num-8{
          font-size: 3.5rem;
        }
        .card-num-16,
        .card-num-32,
        .card-num-64{
          font-size: 3rem;
        }
        .card-num-128,
        .card-num-256,
        .card-num-512{
          font-size: 2.5rem;
        }
        .card-num-1024,
        .card-num-2048{
          font-size: 1.5rem;
        }
      }
    }
    .describe{
      margin-top: 40px;
      font-size: 1.4rem;
      line-height: 25px;
    }
  }
}

@keyframes newCard{
  0%{ transform: scale(0.4, 0.4); }
  50%{ transform: scale(1.1, 1.1); }
  100%{ transform: scale(1, 1); }
}